<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="NEO Tracker">
    <rule ref="vendor/yiisoft/yii2-coding-standards/Yii2"></rule>

    <!-- generate relative paths -->
    <arg name="basepath" value="."/>

    <!-- directories to check: те же, что проверяет phpstan -->
    <file>assets</file>
    <file>commands</file>
    <file>components</file>
    <file>controllers</file>
    <file>models</file>
    <file>services</file>
    <file>widgets</file>
    <file>tests</file>
</ruleset>
