includes:
    - vendor/yii2-extensions/phpstan/extension.neon

parameters:
    level: 5

    paths:
        - assets
        - commands
        - components
        - controllers
        - models
        - services
        - widgets

    bootstrapFiles:
        - phpstan-bootstrap.php

    yii2:
        config_path: config/phpstan-config.php

    tmpDir: %currentWorkingDirectory%/runtime
